<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel='stylesheet' type='text/css' href='stylesheet.css'/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div id="wrapper">
        <form method="post" name="registrationForm" action="/Lib/registration.php?go=index.php">
            Login: <input type="text" name="login" value=""><br>
            Password: <input type="password" name="password" value=""><br>
            Retry Password: <input type="password" name="retryPassword" value=""><br>
            <input type="submit" name="signUp" value="Register me!">
        </form>
    </div>
</body>
</html>